imports:
    - { resource: config_dev.yml }

#sensio_hangman:
#    word_length: 3
#    dictionaries:
#        - "%kernel.root_dir%/data/test.txt"

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        enabled: false

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true
