
<form action="{{ path("login_check") }}" method="post">
    <div>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>

    <div>
        <input type="password" id="password" name="_password" />
    </div>

    <input type="submit">
</form>
